.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 4;
    overflow: auto;

}
.lightbox .divcontainer {
    margin: 62px 100px;
}
.lightbox__next,
.lightbox__prev {
    border: none;
    background: url(/assets/arrow.svg) center center / 100% 100%;
    width: 96px;
    height: 100%;
    right: 0;
    position: fixed;
    top: 0;
    margin-top: -14px;
    z-index: 5;
    cursor: pointer;
    color: transparent;
}
.lightbox__prev{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}
.lightbox__close {
    width: 72px;
    color: transparent;
    border: none;
    cursor: pointer;
    position: fixed;
    z-index: 6;
    top: 20px;
    right: 20px;
    height: 72px;
    background: url(/assets/close.svg) center center / 72px 72px;
}
.lightbox button {
    opacity: .5;
    transition: opacity .3s;
}
.lightbox button:hover {
    opacity: 1;
}
.lightbox__container img , .lightbox__container video {
    max-width: 100%;
    /* height: auto; */
    max-height: 700px;
}
.lightbox__container{
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    align-items: flex-start;
    max-width: 90vh;
    /* max-height: 90vh; */
    margin-left: 27%;
    display: grid;
    place-items: center;
    margin-right: 50px;
    
}