@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100.. 1000&display=swap');
.photograph-header {
    background-color: #FAFAFA;
    padding: 30px;
    height: 300px;
    margin: 0 100px;
    /* width: 100%; */
}
.errorMsg {
    display: none;
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.no-scroll {
    overflow: hidden;
}
.block{
    display: block!important;
}
.contact_modal {
    display: none;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.modal {
    top: 4%;
    position: absolute;
    overflow: hidden;
    left: 33%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    /* height: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
.modal p {
    font-size: 36px;
}
.modal header {
    justify-content: space-between;
    width: 100%;
}
.modal header img {
    cursor: pointer;
}
.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}
.filtre {
    margin-bottom: 58px;
}
.filter label {
    display: flex;
    gap: 25px;
    width: 100%;
    align-items: center;

}
.filter select {
    border: none;
    color: white;
    appearance: none;
    font-size: 18px;
    padding: 20px;
    border-bottom: 2px solid white;
    /* background: url(../assets/flecheselect.svg) 96% / 15% no-repeat ;  */
}
#filter-select option {
    color: white
}
form label {
    color: #312E2E;
    font-size: 36px;
}
.headermodal,
.modaltitre {
    width: 100%;
}
.headermodal div img {
    cursor: pointer;
}
.headermodal :nth-child(1) {
    display: flex;
    justify-content: space-between;
}
.headermodal h2,
.modaltitre h2 {
    color: #000;

    font-family: "DM Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
form div {
    width: 100%;
    align-items: self-start;
}
form input {
    border: none;
    border-radius: 5px;
    width: 599px;
}
.formData input {
    height: 5vh;
}
.formMessage input {
    height: 12.143vw;
    margin-bottom: 25px;
}
.image img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;

}
article h2 {
    color: #D3573C;

    font-family: "DM Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
article h3 {
    color: #901C1C;

    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}
article p {
    color: #525252;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.triez {
    margin: 20px 100px
}
.divgalerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
}
.imggalerie {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imagegalerie {
    width: 375px;
    height: 375px;
    object-fit: cover;
}
.titregalerie h4,
.lightbox__name h4 {
    color: #901C1C;

    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titregalerie {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divcoeur {
    display: flex;
    align-items: center;

}
.divcoeur p {
    margin-left: 7px;
    color: #901C1C;

    text-align: right;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cardsection {
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.videogalerie {
    width: 375px;
    height: 375px;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.compteur {
    display: flex;
}
.compteurargent {
    width: 376px;
    background: #DB8876;
    position: fixed;
    top: 91%;
    height: 89px;
    right: 7%;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}